.profile-info__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-top: 16px;
}

@media screen and (max-width:425px) {
    .profile-info__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 14px;
    }
}
