.profile__avatar {
    max-width: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width:880px) {
    .profile__avatar {
        margin-left: 10px;
    }
}

@media screen and (max-width:425px) {
    .profile__avatar {
        margin: 0;
    }
}
