.popup-edit__close {
    width: 32px;
    height: 32px;
    background: none;
    padding: 0;
    background-image: url(../../../images/Close\ Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup-edit__close:hover {
    opacity: 0.5;
}

@media screen and (max-width:500px) {
    .popup-edit__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}